In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time

In [2]:
url='https://www.billboard.com/charts/year-end/top-billboard-200-albums'
html=requests.get(url)
soup=BeautifulSoup(html.content,'lxml')

In [3]:
links=soup.select('div[class="ye-chart-item__artist"]>a')
clean_links=[str(i).split('href="')[1].split('">')[0] for i in links]
linksstart='https://www.billboard.com'
links=[linksstart+i for i in clean_links]
hits_no1=[]
hits_top10=[]
hits_top100=[]

In [4]:
for i in links:
    time.sleep(2)
    html=requests.get(i)
    soup=BeautifulSoup(html.content,'lxml')
    info=soup.select('ul[class="chart-history__titles__hits"]>li>span')
    info_clean=[]
    info_clean=[i.text for i in info]
    hits_no1.append(info_clean[0])
    hits_top10.append(info_clean[1])
    hits_top100.append(info_clean[2])

In [29]:
url='https://www.billboard.com/charts/year-end/top-billboard-200-albums'
html=requests.get(url)
soup=BeautifulSoup(html.content,'lxml')

In [51]:
Numero=soup.select('div[class="ye-chart-item__rank"]')

In [32]:
Numero_clean=[i.text.strip() for i in Numero]

In [33]:
Album=soup.select ('div[class="ye-chart-item__text"]>div[class="ye-chart-item__title"]')

In [34]:
Album_clean= [i.text.strip() for i in Album]

In [35]:
artist=soup.select('div[class="ye-chart-item__text"]>div[class="ye-chart-item__artist"]')
clean_artist=[i.text.strip() for i in artist]

In [44]:
tabla=[]
tabla=pd.DataFrame(tabla)
tabla["Posicion"]=Numero_clean
tabla["Album"]=Album_clean
tabla["Nombre del artista"]=clean_artist
#tabla["Numero de canciones de primer lugar"]=hits_no1
#tabla["Numero de canciones en el top 10"]=hits_top10
#tabla["Numero de canciones en el top 100"]=hits_top100

In [45]:
tabla2=tabla.drop([39,60,63,99,134,137,155,190])

In [48]:
tabla2["Numero de canciones de primer lugar"]=hits_no1
tabla2["Numero de canciones en el top 10"]=hits_top10
tabla2["Numero de canciones en el top 100"]=hits_top100

In [49]:
tabla2

,Posicion,Album,Nombre del artista,Numero de canciones de primer lugar,Numero de canciones en el top 10,Numero de canciones en el top 100
0,1,Hollywood's Bleeding,Post Malone,0,0,8
1,2,My Turn,Lil Baby,0,4,33
2,3,Please Excuse Me For Being Antisocial,Roddy Ricch,0,1,6
3,4,Fine Line,Harry Styles,0,1,4
4,5,Folklore,Taylor Swift,2,18,26
...,...,...,...,...,...,...
195,196,Wildcard,Miranda Lambert,0,0,1
196,197,JESUS IS KING (Soundtrack),Kanye West,0,3,25
197,198,A Charlie Brown Christmas (Soundtrack),Vince Guaraldi Trio,0,0,1
198,199,Ordinary Man,Ozzy Osbourne,0,0,1
199,200,"NCT #127: Neo Zone, The 2nd Album",NCT 127,0,1,3

In [50]:
tabla2.to_csv('top_albums_2020',index=False,sep=',')